version: '3.0'

services:
  grafana:
    platform: 'linux/amd64'
    build:
      args:
        grafana_version: ${GRAFANA_VERSION:-12.0.0}
    extends:
      file: .config/docker-compose-base.yaml
      service: grafana
